{{ define "main" }}
  <div class="wrap mt post">
    <div>
	    {{- $date := (dateFormat "January 2006" .Date)  -}}
	    {{- $jour := (dateFormat "2" .Date)  -}}
      <div class="post_body">
        <div class="post_inner">
        {{- with .Params.image }}
          {{- $image := . }}
          {{- if ne (in . "images") true }}
            {{- $image = printf "images/%s" . }}
          {{- end }}
          {{- $image = absURL $image }}
          {{- if in . "https://" }}
            {{- $image = . }}
          {{- end }}
          <img src="{{ $image }}" alt="{{ . }}" class="post_thumbnail">
        {{- end }}
	<p class="post_date">{{- if eq $jour "1"}}1<sup>er</sup>{{- else }} {{- $jour }} {{- end}}&nbsp;{{- $date }}</p>
          <h1 class="post_title">{{ .Title }}</h1>
          <p><b>{{- .Params.summary }}</b></p>
          {{- .Content }}
        </div>
        <div class="post_extra mb-2">
          {{- partialCached "share" . }}
        </div>
        <div>
        {{ template "_internal/disqus.html" . }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
