/* **********************************************
 * feuille de style personnalisée pour omeka.fr
 *
 * localisation des variables 
 * assets/sass/_variables.sass
 *
 * Sommaire :
 * - mise en page 
 * - typo 
 * - navigation et menus
 * - page d'accueil
 * - agenda
 * - images
 * - contact
 * - table import csv
 * - pied de page 
 * - Tarte au Citron
 *
 * **********************************************
 */


/* **********************************************
 * ***     mise en page / typo                *** 
 ***********************************************/

.aside, .content {
	padding-top: 1.8em;
}

#matomo-opt-out {
	background-color: var(--accent);
	margin: 0 10%;
	padding: 0.5em;
}

h2 {
	margin-top: 1em;
}

h3 {
	margin-top: 0.8em;
}

.button {
	font-weight: 500;
}

#searchpage {
  padding-top: 7rem;
}

.tip_danger {
  --theme: var(--theme-secondaire);
}

.tip_danger::before {
  transform: rotate(90deg);
}

.tip_vide::before {
  transform: rotate(0deg);
  background-image: var(--vide-icon);
}

.page-home .tip {
  padding-top: 0.5rem
}

.page-home .tip h2 {
  margin-top: 0em;
}

/* **********************************************
 ***          mavigation et menus             *** 
 ***********************************************/

header .nav-link, footer .nav-link {
	font-weight: 500;
}

.nav_footer {
	display: flex;
	transform: translateX(0);
	position: relative;
	height: initial;
	justify-content: flex-end;
	background: transparent;
	flex-direction: row;
	left: 0;
	top: 0;
	bottom: 0;
}

.nav_body .search_field {
	box-shadow: 0 1rem 2rem rgba(0,0,0,0.17);
}

aside .active a {
	color: #ff273d;
}

h3.section_link, .toc_active ul li ul {
	margin-left: 0.6em;
}

.pager_link {
	background-color: var(--theme-tertiaire);
}

/* **********************************************
 ***           page d'accueil                ***
 **********************************************/

.page-home h1 {
	text-align: center;
}

.page-home h1 + p {
	text-align: center;
	margin: auto 16%;
	font-size: 1.2em;
}

.une .article_title {
	font-size: 1.8em;
}

.actus .article_thumb {
	height: 12rem;
}

.page-home .agenda {
	margin-top: 3em;
}


/* **********************************************
 ***                agenda                    ***
 ***********************************************/

dl.liste-csv, dl.agenda {
	margin-bottom: 1.4em;
}

dl.agenda dt {
	margin-top: 0.5em;
	font-weight: bold;
	font-size: 1.2em;
}


/* **********************************************
 ***                images                    ***
 ***********************************************/

picture img {
	max-width: 55%;
	max-height: 30em;
	width: auto !important;
}

.gallery  .gallery_item img:not(.icon) {
	max-width: 100%;
}


/* **********************************************
 ***                contact                  ***
 ***********************************************/

.contact form {
	width: 80%;
	margin: 1em auto;
}

.contact label {
	display: block;
	margin-top: 1em;
}

.contact input {
	height: 2em;
}

.contact textarea {
	height: 5em;
}

.contact input, .contact textarea {
	display: block;
	width: 100%;
}

.contact .requirements {
	font-size: 0.7em
}

.contact button {
	display: block;
	background-color: #ff273d;
	width: 25%;
	height: 3em;
	background-color: #ff273d;
	margin: 2em auto;
	border: none;
	color: var(--light);
	border-radius: 0.25rem;
	padding: 0.75rem 1.25rem;
	text-align: center;
	font-size: 18px;
}


/* **********************************************
 ***            table import csv              *** 
 ***********************************************/

.table_wrap .search_field {
	width: 50%;
}

@media (max-width: 700px){
	.tableCsv thead {
		display: none;
	}

	.tableCsv tr {
		display: block;
		margin-bottom: 40px;
		clear: both;
		padding: 0.4em;
	}

	.tableCsv td {
		display: block;
		text-align: left;
		clear: both;
		padding: 0.3em 0;
	}

	.tableCsv .row .titre {
		font-weight: 700 !important;
		font-style: italic;
	}

	.tableCsv td:before {
		content: attr(data-label);
		float: left;
		font-weight: 400 !important;
		font-style: normal;
		margin-right: 10px;
		background-color: var(--theme);
		color: white;
		padding: 0 0.2em;
	}
}


/* **********************************************
 ***              pied de page                ***
 ***********************************************/

.AUfo {
	background-color: #ff273d;
}

.copyright {
	float: left;
}


/* **********************************************
 ***              Tarte au citron             ***
 ***********************************************/
