{{- $config := site.Params }}
{{- $author := $config.author }}
<footer class="pt-2 pb-2">
  <div class="wrap">
	  <p class="copyright">
      {{- if $config.enableCopyright  }}
        {{ with $author }}
        <a href="{{ absLangURL .url }}" target="_blank" rel="noopener">{{ .name }}</a> <span class="year">{{ now.Year }}</span>
        {{ end }}
      {{ end }}
	  </p>

	    <ul class="nav_footer">
		<li class="nav-item">
			<a class="nav-link" href="/fr/infos-legales-cgu"><span>Informations légales - CGU</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link tarteaucitronOpenPanel" href="#"><span>Gestion des cookies</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/fr/contact"><span>Contact</span></a>
		</li>
	  </ul>

        <a href="#pagetop" id="toTop" title={{ T "to_top" }}></a>
  </div>
</footer>
<script type="text/javascript">

	// X - Twitter
        (tarteaucitron.job = tarteaucitron.job || []).push('twittertimeline');

	// Matomo 
        tarteaucitron.user.matomoId = 12;
        (tarteaucitron.job = tarteaucitron.job || []).push('matomo');
	tarteaucitron.user.matomoHost = 'https://stats.emf.fr/';

	// Google Fonts
        tarteaucitron.user.googleFonts = 'Barlow';
        (tarteaucitron.job = tarteaucitron.job || []).push('googlefonts');

	// Youtube
        (tarteaucitron.job = tarteaucitron.job || []).push('youtube');

	// Vimeo 
	(tarteaucitron.job = tarteaucitron.job || []).push('vimeo');

	// Dailymotion
	(tarteaucitron.job = tarteaucitron.job || []).push('dailymotion');

	// Hello Asso
	(tarteaucitron.job = tarteaucitron.job || []).push('helloasso');
</script>
