{{- $limite := .Get "limite" }}
{{- if not $limite }}{{ $limite = 1 }}{{ end }}
{{- $pages := where site.RegularPages "Section" site.Params.blogDir  }}
<div class="actus">
  {{- $scratch := newScratch }}
  {{- range first ( int $limite ) $pages }}
    {{- $value := . }}
    {{- if isset .Params "image" }}
      {{- $scratch.Set "image" .Params.image }}
    {{- else }}
      {{- $scratch.Set "image" "thumbnail.svg" }}
    {{- end }}
    {{- $image := $scratch.Get "image" }}
    {{- $bg := $image }}
    {{- if ne (in $image "images") true }}
      {{- $bg = (absURL (printf "images/%s" $image)) }}
    {{- end }}
    {{- if in $image "https://" }}
      {{- $bg = $image }}
    {{- end }}
  <article class="article mb-2">
    <a href="{{ $value.Permalink }}">
      <div class="article_thumb" style="background-image: url({{ $bg }});"></div>
      <div class="article_meta" >
        <div class="post_date">{{ dateFormat "2 January 2006" $value.Date }}</div>
        <h3 class="article_title">{{ $value.Title }}</h3>
        <div class="article_excerpt">
        <p>{{ truncate 100 $value.Summary }}</p>
        </div>
      </div>
    </a>
  </article>
  {{- end }}
</div>
