{{ $pages := where site.Pages "Params.tags" "intersect" (slice "une") }}
<div class="wrap pt-1">
  {{- $scratch := newScratch }}
  {{- range first 1 $pages }}
    {{- $value := . }}
    {{- if isset .Params "image" }}
      {{- $scratch.Set "image" .Params.image }}
    {{- else }}
      {{- $scratch.Set "image" "thumbnail.svg" }}
    {{- end }}
    {{- $image := $scratch.Get "image" }}
    {{- $bg := $image }}
    {{- if ne (in $image "images") true }}
      {{- $bg = (absURL (printf "images/%s" $image)) }}
    {{- end }}
    {{- if in $image "https://" }}
      {{- $bg = $image }}
    {{- end }}
  <article class="article mb-2">
    <a href="{{ $value.Permalink }}" class="grid-reverse">
      <div class="article_thumb" style="background-image: url({{ $bg }});"></div>
      <div class="article_meta center_y">
        <h3 class="article_title">{{ $value.Title }}</h3>
        <div class="article_excerpt visible">
        <p>{{ truncate 100 $value.Summary }}</p>
        </div>
      </div>
    </a>
  </article>
  {{- end }}
</div>
</div>
