{{ $limite := .Get "limite" }}
{{ if not $limite }}{{ $limite = 999999999 }}{{ end }}

{{ $sorte := .Get "sorte" }}
{{ $topo := .Get "topo" }}
{{ $lieu := .Get "lieu" }}

{{ $agenda := sort .Site.Data.agenda "date" "desc" }}

{{ $reliquat := slice }}

{{ if $sorte }} 
	{{ range $agenda }}
		{{ $item := . }}
		{{ if strings.Contains $item.sorte $sorte }}
			{{ $reliquat = append $item $reliquat }}
		{{ end }}
	{{ end }}
{{ else }} 
	{{ $reliquat = $agenda }}
{{ end }}

<dl class="agenda">
{{ range first ( int $limite ) $reliquat }}
	{{ $item := . }}

	{{ $tmp_debut := split $item.date "-" }}
	{{ $tmp_fin := split $item.fin "-" }}
	{{ $an_debut := index $tmp_debut 0 }}
	{{ $an_fin := index $tmp_fin 0 }}
	{{ $mois_debut := index $tmp_debut 1 }}
	{{ $mois_fin := index $tmp_fin 1 }}
	{{ $jour1_debut := index $tmp_debut 2 }}
	{{ $jour1_fin := index $tmp_fin 2 }}

	{{ $date_debut := split $item.date " " }}
	{{ $date_debut_jour := index $date_debut 0 }}
	{{ $date_debut_horaire := replace ( replace (index $date_debut 1) ":" "h" ) "00" "" }}

	{{ $date_fin := split $item.fin " " }}
	{{ $date_fin_jour := index $date_fin 0 }}
	{{ $date_fin_horaire := replace ( replace (index $date_fin 1) ":" "h" ) "00" "" }}
	{{ $une_date := false }}

	{{ with $item.titre }}
		<dt>
		{{ with $item.url }}<a href="{{ $item.url }}">{{ end }}
		{{ $item.titre }}
		{{ with $item.url }}</a>{{ end }}
		</dt>
	{{ end }}
	{{ with $item.date }}
		<dd>
		{{ if eq $date_debut_jour $date_fin_jour }}
			{{ if strings.Contains $jour1_debut "01 " }}
				Le 1<sup>er</sup> {{ time.Format "January 2006" $date_debut_jour }} 
			{{ else }}
				Le {{ time.Format "2 January 2006" $date_debut_jour }} 
			{{ end }} 
			{{ with $item.fin }} 
				de {{ $date_debut_horaire }} à {{ $date_fin_horaire }} 
			{{ else }}	
				à {{ $date_debut_horaire }}  
			{{ end }}	
		{{ else }}	
			{{ with $item.fin }} 
				{{ if eq $an_debut $an_fin }}
					{{ if eq $mois_debut $mois_fin }}
						{{ if strings.Contains $jour1_debut "01" }}
							Du 1<sup>er</sup> au 
						{{ else }}
							Du {{ time.Format "2" $date_debut_jour }} au 
						{{ end }} 
					{{ else }}
						{{ if strings.Contains $jour1_debut "01" }}
							Du 1<sup>er</sup> {{ time.Format "January" $date_debut_jour }} au 
						{{ else }}
							Du {{ time.Format "2 January" $date_debut_jour }} au 
						{{ end }}
					{{ end }} 
				{{ else }}
					{{ if strings.Contains $jour1_debut "01" }}
						Du 1<sup>er</sup> {{ time.Format "2 January 2006" $date_debut_jour }} au 
					{{ else }}
						Du {{ time.Format "2 January 2006" $date_debut_jour }} au 
					{{ end }}
				{{ end }}
				{{ if strings.Contains $jour1_fin "01" }}
					1<sup>er</sup> {{ time.Format "January 2006" $date_fin_jour }} 
				{{ else }}	
					{{ time.Format "2 January 2006" $date_fin_jour }} 
				{{ end }}	
			{{ else }}	
				{{ if strings.Contains $jour1_debut "01 " }}
					Le 1<sup>er</sup> {{ time.Format "January 2006" $date_debut_jour }} 
				{{ else }} 
					Le {{ time.Format "2 January 2006" $date_debut_jour }} 
				{{ end }}	
			{{ end }}	
		{{ end }}	
		</dd>
	{{ end }}
	{{ with $item.lieu }}
		{{ if eq $lieu "ok" }}
			<dd><i>
			{{ if hasPrefix $item.lieu "http" }}
				<a href="{{ $item.lieu }}">En ligne</a>
			{{ else }}
				{{ $item.lieu }}
			{{ end }}
			</i></dd>
		{{ end }}
	{{ end }}
	{{ with $item.topo }} 
		{{ if eq $topo "ok" }}
			<dd><small>{{ $item.topo }}</small></dd>
		{{ end }}
	{{ end }}
{{ end }}
</dl>
