{{- $pages := where site.RegularPages "Section" "csv"  }}
<dl class="liste-csv">
  {{- $scratch := newScratch }}
  {{- range $pages }}
 	 {{- $value := . }}
	<dt><a href="{{ $value.Permalink }}">{{ $value.Title }}</a></dt>
	<dd><small>{{ truncate 100 $value.Summary }}</small></dd>
  {{- end }}
</dl> 
