{{- $dailymotionHost := "https://dai.ly/" }}
{{- $url := .Get 0 }}
{{- if in $url $dailymotionHost }}
  {{- $url = strings.TrimPrefix $dailymotionHost $url }}
{{- end }}

<div class="video">
	<div class="dailymotion_player" videoID="{{ $url }}" width="100%" height="auto" showinfo="showinfo 1" autoplay="autoplay 0" embedType="embedType video"></div>
</div>
