{{- $datasetKey := .Get 0 }}
{{- $data := index $.Page.Params $datasetKey }}
{{- $dataURL := $data.fileLink }}
{{- $url1 := int $data.firstColumnURL }}
{{- $separator := "," }}
{{- $dataFile := getCSV $separator $dataURL }}

{{- $selectedColumns := slice }}
{{- range $header := $data.columnTitles }}
  {{- range first 1 $dataFile }}
    {{- range $key , $value := .  }}
      {{- if eq $header $value }} 
        {{- $selectedColumns = $selectedColumns | append $key }}
      {{- end }} 
    {{- end }}
  {{- end }}
{{- end }}

<script src = '{{ absURL "js/w3.js" }}'></script>
<div class="table_wrap">
  <table id="chartTable" class="tableCsv">
  
    <thead>
      {{- range $index, $title := $data.columnTitles }}
      <th onclick="w3.sortHTML('#chartTable', '.row', 'td:nth-child({{ add $index 1 }})')">{{ $title }} {{ partial "sprite" (dict "icon" "sort") . }}</th>
      {{- end }}
    </thead>

    {{- range after 1 $dataFile }}
      {{- $entry := . }}
    <tr class="row">
      {{- range $index, $value := $selectedColumns }}
	{{- if eq $index 0 }} 
      	  <td 
	     data-label="{{- index $data.columnTitles $index }}"
	     class="titre">
	      {{- if $url1 }}
	      	<a href="{{- index $entry (sub $url1 1) }}">
			{{- index $entry $value }}
		</a>
	      {{- else }}
	        {{- index $entry $value }}
      	      {{- end }}
	  </td>
      	{{- else }}
	  <td
	     data-label="{{- index $data.columnTitles $index }}"
	     class="transformURL" >
	     {{- index $entry $value }}
	  </td>
      	{{- end }}
      {{- end }}
    </tr>

    {{- end }}
  </table>
</div>
