{{- $vimeoHost := "https://vimeo.com/" }}
{{- $url := .Get 0 }}
{{- if in $url $vimeoHost }}
  {{- $url = strings.TrimPrefix $vimeoHost $url }}
{{- end }}

<div class="video">
	<div class="vimeo_player" videoID="{{ $url }}" width="100%" height="auto"></div>
</div>
