{{- $youtubeHost := "https://youtu.be/" }}
{{- $url := .Get 0 }}
{{- if in $url $youtubeHost }}
  {{- $url = strings.TrimPrefix $youtubeHost $url }}
{{- end }}

<div class="video">
	<div class="youtube_player" videoID="{{ $url }}" width="100%" height="auto" theme="theme light" rel="rel 1" controls="controls 1" showinfo="showinfo 1" autoplay="autoplay 0" mute="mute 0" loop="loop 0" loading="loading 0" data-start="start" data-end="end"></div>
</div>
