{{ define "main" }}

<div class="content">
	<div style="float: right;">
		<a href="/fr/omeka/references-annuaires/" class="button AUfo">Références et annuaires</a>
	</div>

        <h1>{{ .Title }}</h1>
        <p><b>{{ .Params.summary }}</b></p>
        {{- .Content }}
</div>

{{- $pages := where site.RegularPages "Section" "csv"  }}
<div class="wrap pt-2 mt-2">
  {{- $paginator := .Paginate $pages -}}
  {{- $size := $paginator.PageSize }}
  {{- $scratch := newScratch }}
  {{- range $index, $value := $paginator.Pages }}
  <article class="article mb-2">
    <a href="{{ $value.Permalink }}">
      <div class="article_meta">
        <h3 class="article_title">{{ $value.Title }}</h3>
        <div class="article_excerpt ">
        <p>{{ truncate 100 $value.Summary }}</p>
        </div>
      </div>
    </a>
  </article>
  {{- end }}
</div>
</div>
<!-- <a href='{{ absURL (printf "post/%s" "") }}' class=post_nav>
  <span class=post_next>View Archive
  <svg class="icon icon_scale">
    <use href="#double-arrow"></use>
  </svg>
  </span>
</a> -->
{{- end }}
