{{- define "main" }}
<div class="content">
	<div style="float: right;">
		<a href="/fr/csv" class="button AUfo">Retour aux annuaires</a>
	</div>
	<h1>{{ .Title }}</h1>
	<p><b>{{ .Params.summary }}</b></p>
	<div style="clear: both;">
		{{ with .Params.description }}<div>{{ markdownify . }}</div>{{ end }}
  		{{- .Content }}
	</div>
</div>
<script src="/js/transform-url-csv.js"></script>
{{- end }}
